*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/example/fitnessapp/DevMobileBackend/ktor-sample/build
com/example/fitnessapp/DevMobileBackend/ktor-sample/src/main/resources/fitnessapp-12bd7-firebase-adminsdk-fbsvc-1b97af51d0.json
app/src/main/java/com/example/fitnessapp/DevMobileBackend/ktor-sample/src/main/resources/fitnessapp-12bd7-firebase-adminsdk-fbsvc-1b97af51d0.json'